[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "sirius-headers-common"]
	path = external/sirius-headers-common
	url = https://github.com/SiriusUdS/sirius-headers-common
